
.path {
  clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0);
}

.background-fix {
  background-image: url(../../assets/logos/logoTransparente.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 13em;
  /* background-position: center; */
}

.card-container{
  background: rgb(122,41,156);
  background: linear-gradient(0deg, rgba(122,41,156,0.7539609593837535) 0%, rgba(223,126,214,0.7875744047619048) 100%);
}

.fade-in-espalda {
  animation: fadeInEspalda ease 3s;
  -webkit-animation: fadeInEspalda ease 3s;
  -moz-animation: fadeInEspalda ease 3s;
  -o-animation: fadeInEspalda ease 3s;
  -ms-animation: fadeInEspalda ease 3s;
}

@keyframes fadeInEspalda {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInEspalda {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInEspalda {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeInEspalda {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeInEspalda {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
